/* CSS declarations go here */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "_foundation_settings.scss";
@import "../.meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";
@import "lib/foundation-icons/foundation-icons.css";

body {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  background-color: #d7d0d0;
}

header {
  width: 100%;
  background-color: #222;
  padding-top: 16px;
  h1 {
    a, a:hover {
      color: white;
    }
    font-size: 22px;
    font-weight: 700;
  }
}

.itemFeed {
  margin-top: 20px;
  margin-bottom: 80px;
  .item {
    img {
    }
  }
}

.item {
  background-color: white;
  border-radius: 4px;
  padding: 8px;
}
.item-photo {
}
.item-price {
  .currency {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -6px;
    padding: 3px;

  }
  font-size: 28px;
  font-weight: 700;
}
.item-distance {
  padding-top: 4px;
  font-size: 24px;
  font-weight: 400;
}
.item-description {
  display: block;
  width: 100%;
  padding: 10px 0;
}

.item-seller {
  font-weight: 700;
  margin-bottom: 5px;
}

.item-seller {
    .avatar {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    border-radius: 40px;
  }
}

.item .button {
  margin-bottom: 0.25rem;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #222;
  text-align: center;
}

.itemSave {
  position: fixed;
  z-index: 1000;
  top:10%;
  left:10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  line-height: 1.3em;
  padding: 20px;
  border-radius: 4px;
  background-color: white;

  img {
    width: 200px;
  }

}


.avatar {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 5px;
  border-radius: 4px;
}
